<template>
  <v-data-table
    :headers="headers"
    hide-default-footer
    :items="products"
    item-key="name"
    class="elevation-1 pt-2"
    disable-sort
  >
    <template v-slot:body="props">
      <tr v-for="(product, index) in props.items" :key="index">
        <td v-for="header in headers" :key="header.value" class="pl-3">
          <div
            v-if="isCompanyHeader(header.text)"
            :class="[
              isQuoteSelected(product, header.text)
                ? 'font-weight-black selectedQuote'
                : 'basicQuote',
            ]"
            @click="quoteClicked(product, header.text)"
            color="red"
          >
            <div :class="getPriceColor(product, header.text)" class="px-2">
              {{ getCompanyQuote(product, header.text) }}
            </div>
          </div>
          <div v-else>
            {{ product[header.value] }}
          </div>
        </td>
      </tr>
    </template>
    <template v-slot:top>
      <v-row class="px-2">
        <v-col>
          <v-card class="py-2 blue-grey lighten-5">
            <v-card-title :class="kpiHeaderClass"> Total Pounds </v-card-title>
            <v-card-text :class="kpiHeaderClass">
              {{ totalPounds.toString() + "k" }}
            </v-card-text>
          </v-card>
        </v-col>
        <v-col>
          <v-card class="py-2 blue-grey lighten-5">
            <v-card-title :class="kpiHeaderClass"> Invoice </v-card-title>
            <v-card-text :class="kpiHeaderClass">
              {{ "$" + invoice }}
            </v-card-text>
          </v-card>
        </v-col>
        <v-col>
          <v-card class="py-2 blue-grey lighten-5">
            <v-card-title :class="kpiHeaderClass"> Avg $/CWT </v-card-title>
            <v-card-text :class="kpiHeaderClass">
              {{ "$" + averageCWT.toString() }}
            </v-card-text>
          </v-card>
        </v-col>
        <v-spacer />
        <v-col cols="2" class="d-flex align-end">
          <v-select
            v-model="priceType"
            :items="priceTypes"
            hide-details
            label="Price"
            outlined
            dense
          ></v-select>
        </v-col>
      </v-row>
    </template>
  </v-data-table>
</template>

<script>
import Vue from "vue";
import { v4 as uuid4 } from "uuid";
import productList from "../assets/quotes.json";
export default {
  created() {
    this.companies = new Set([]);
    // Let's iterate over every product, and every quote within the product, to ensure that we get all of
    // the different companies -- this allows us to determine what headers we need to add to the table
    productList.forEach((product) => {
      product.Quotes.forEach((quote) => {
        this.companies.add(quote.Company);
      });
    });
    // Lists are easier to work with
    this.companies = [...this.companies];
    const companyHeaders = this.companies.map((company) => {
      const company_key = company.toLowerCase().replaceAll(" ", "_");
      return { text: company, value: company_key };
    });
    // Add the companies to the list of columns
    this.headers = [
      { text: "Location", value: "Location" },
      { text: "Part #", value: "PartNo" },
      { text: "Product", value: "Product" },
      { text: "Weight", value: "Weight" },
      ...companyHeaders,
    ];
    // Options for the price type dropdown
    this.priceTypes = [
      { text: "Final Price", value: "FinalPrice" },
      { text: "Packaging Fee", value: "PackagingFee" },
      { text: "Freight Fee", value: "FreightFee" },
    ];
    // Add a unique ID to the products to ensure we always have the right one
    this.products = productList.map((product) => {
      product.id = uuid4();
      return product;
    });
  },
  data() {
    return {
      priceType: "FinalPrice",
      selectedQuotes: {},
    };
  },
  methods: {
    isCompanyHeader(headerText) {
      if (this.companies.includes(headerText)) {
        return true;
      }
      return false;
    },
    getCompanyQuote(product, company) {
      const companyQuote = product.Quotes.find((quote) => {
        return quote.Company == company;
      });
      const companyQuotePrice = companyQuote[this.priceType];
      return companyQuotePrice ? companyQuotePrice.toFixed(2) : "N/A";
    },
    isQuoteSelected(product, company) {
      if (product.id in this.selectedQuotes) {
        if (this.selectedQuotes[product.id].Company == company) {
          return true;
        }
      }
      return false;
    },
    getPriceColor(product, company) {
      let color = "";
      // Get all of the prices on the different quotes and sort to easily determine
      // what prices are highest and lowest
      const prices = product.Quotes.map((quote) => {
        if (quote[this.priceType]) {
          return quote[this.priceType];
        }
      })
        .filter((price) => {
          if (price) return price;
        })
        .sort();
      // Find the actual quote for the selected company on this product
      const company_quote = product.Quotes.find((quote) => {
        return quote.Company == company;
      });
      if (prices[0] === company_quote[this.priceType]) {
        color = "green";
      } else if (prices.at(-1) === company_quote[this.priceType]) {
        color = "red";
      }
      return color;
    },
    quoteClicked(product, company) {
      if (this.selectedQuotes[product.id]?.Company === company) {
        Vue.delete(this.selectedQuotes, product.id);
      } else {
        const company_quote = product.Quotes.find((quote) => {
          return quote.Company === company;
        });
        Vue.set(this.selectedQuotes, product.id, company_quote);
      }
    },
  },
  computed: {
    kpiHeaderClass() {
      return "text-h6 py-0 px-2 d-flex justify-center";
    },
    totalPounds() {
      let totalPounds = 0;
      Object.keys(this.selectedQuotes).forEach((id) => {
        const product = this.products.find((product) => {
          return product.id === id;
        });
        totalPounds += product ? product.Weight : 0;
      });
      return totalPounds;
    },
    invoice() {
      let totalPrice = 0;
      Object.values(this.selectedQuotes).forEach((quote) => {
        totalPrice += quote.FinalPrice;
      });
      const invoice = (this.totalPounds / 100) * totalPrice;
      return invoice.toLocaleString("en-US", {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
      });
    },
    averageCWT() {
      let averagePrice = 0;
      Object.values(this.selectedQuotes).forEach((quote) => {
        averagePrice += quote.FinalPrice;
      });
      const numProducts = Object.keys(this.selectedQuotes).length;
      const average = averagePrice != 0 ? averagePrice / numProducts : 0;
      return average.toFixed(2);
    },
  },
};
</script>

<style scoped>
.selectedQuote {
  border: 2px solid black;
}
.basicQuote {
  border: 2px solid white;
}
</style>