<template>
  <v-app>
    <v-main>
      <v-container >
        <QuoteTable class="pb-3"/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import QuoteTable from "./components/QuoteTable";

export default {
  name: "QuoteAnalyzer",
  components: {
    QuoteTable,
  },
};
</script>
